<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Form Validation with Javascript and PHP</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <script src="js/script.js"></script>
</head>
<body>
    <header>
        <h2>Form Validation with Javascript and PHP</h2>
        <a href="http://www.script-tutorials.com/form-validation-with-javascript-and-php/" class="stuts">Back to original tutorial on <span>Script Tutorials</span></a>
    </header>
    <div class="container">
        <!-- Example form -->
        <form action="index.php" method="post" id="form" onsubmit="return validate_all('results');">
            <table cellspacing="10">
                <tr><td>Login</td><td><input type="text" name="login" maxlength="25" id="login" onKeyUp="updatelength('login', 'login_length')"><br /><div id="login_length"></div> </td></tr>
                <tr><td>Password</td><td><input type="password" name="pass" maxlength="25" id="password" onKeyUp="updatelength('password', 'pass_length')"><div id="pass_result"></div><br /><div id="pass_length"></div></td></tr>
                <tr><td>Confirm Password</td><td><input type="password" name="cpass" maxlength="25" id="c_password"></td></tr>
                <tr><td>Gender</td><td><select name="gender"><option value="1">male</option><option value="0">female</option></select></td></tr>
                <tr><td>Email</td><td><input type="text" name="email" maxlength="50" id="email" onKeyUp="updatelength('email', 'email_length')"><br /><div id="email_length"></div></td></tr>
                <tr><td colspan="2"><input type="submit" name="submit" value="Register"></td></tr>
            </table>
            <h3 id="results"></h3>
        </form>
    </div>
</body>
</html>