<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Form Validation with Javascript and PHP</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h2>Form Validation with Javascript and PHP</h2>
        <a href="http://www.script-tutorials.com/form-validation-with-javascript-and-php/" class="stuts">Back to original tutorial on <span>Script Tutorials</span></a>
    </header>
    <div class="container">
        <h1>Registration complete</h1>
    </div>
</body>
</html>

