<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Form Validation with Javascript and PHP</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h2>Form Validation with Javascript and PHP</h2>
        <a href="http://www.script-tutorials.com/form-validation-with-javascript-and-php/" class="stuts">Back to original tutorial on <span>Script Tutorials</span></a>
    </header>
    <div class="container">
        <h2>{errors}</h2>
        <form action="index.php" method="post">
            <table cellspacing="10">
                <input type="hidden" name="login" value="{login}">
                <input type="hidden" name="pass" value="{pass}">
                <input type="hidden" name="cpass" value="{cpass}">
                <input type="hidden" name="gender" value="{gender}">
                <input type="hidden" name="email" value="{email}">
                <tr><td><span>Verification code</span></td><td><input name="vcode"></td><td></td></tr>
                <tr><td><span>Hint</span></td><td><i>{vcode}</i></td><td></td></tr>
                <tr><td colspan="2"><input type="submit" name="submit" value="Register"></td></tr>
            </table>
        </form>
    </div>
</body>
</html>

